{% extends 'cinedu/base.html' %}
{% load static %}

{% block content %}
<div class="container">

     <div class="logo">
         <img src="{% static 'Atendendo.png' %}" alt="Logo CINEDU">
     </div>

    <h1>CINEDU</h1>

    <form class="cadastro-form" method="post"> <!--TUDO O QUE USUÁRIO PODE PREENCHER-->

        {% csrf_token %}
        <!--NOME-->
        <label for="nome">Nome</label><br>
        {{ cadastro_form.username }}

        <!--SENHA-->
        <label for="senha">Senha</label><br>
        <div class="senha-container">
            {{ cadastro_form.password1 }}
        </div>

        <label for="senha">Digite a senha novamente</label><br>
        <div class="senha-container">
            {{ cadastro_form.password2 }}
        </div>

        <!--PALAVRA-CHAVE--
        <label for="chave">Palavra-Chave</label><br>
        <input type="password" id="chave" name="chave" placeholder="Digite o nome do seu cachorro: " required><br><br>
        -->

        <!--BOTÃO-->
        <button type="submit" class="btn-cadastro">Cadastrar</button>

        {% if cadastro_form.errors %}
            {% for field in cadastro_form %}
            {% for error in field.errors %}
                <p id="erro">{{ error }}</p>
            {% endfor %}
            {% endfor %}
        {% endif %}

        <input type="hidden" name="next" value="{{ next }}" />

        <p class="link-cadastro">
        Já tem conta? <a href="{% url 'login' %}">Ir para login</a>
        </p> 

    </form>

</div>
{% endblock %}
