{% load static %}
<!--CONFIGURAÇÕES-->>
<dialog id="modalConfig" class="modal-usuario">
    <div class="modal-header">
        <button id="btnFecharModal" class="btn-fechar">&times;</button>
        <span class="titulo-usuario">{{ usuario.username }}</span>
    </div>
    
    <div class="modal-content">
        <!--<p class="destaque">Palavra - chave: <span class="linhas">************</span></p>-->
        
        <h3>Senha</h3>
        <ul class="opcoes-config">
            <li><a href="#">Alterar Senha</a></li>
            <li><a href="#">Alterar Palavra - chave</a></li>
        </ul>
        
        <!--<h3 class="destaque alterarpadding"><a href="#">Alterar Favorito</a></h3>-->
        <h3 class="destaque alterarpadding"><a style="color: OrangeRed;" href="{% url 'cinedu:logout' %}">Sair da conta</a><h3>
    </div>
</dialog>
<script src="{% static 'configuracoes.js' %}"></script>

