{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>CINEDU</title>
  <link rel="icon" type="image/x-icon" href="{% static 'favicon.ico' %}">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap" rel="stylesheet">
   <script>    
      const SOL_CAMINHO = "{% static 'SOL.png' %}";
      const SOLCORTADO_CAMINHO = "{% static 'SOLCORTADO.png' %}";
  </script>
  <style>
    :root {
        --thumb-url: url("{{ documentario_feature.thumbnail.url }}");
    }
  </style>
 <link rel="stylesheet" href="{% static 'home.css' %}">
</head>

<body>

<header>

  <!-- LOGO -->
  <div class="logo">
      <img src="{% static 'LOGO.png' %}" alt="Logo CINEDU">
  </div>

  <!-- MENU -->
  <nav>
      <a href="{% url 'cinedu:home' %}">Home</a>
      <a href="{% url 'cinedu:favoritos' %}">Favoritos</a>
  
  </nav>

  <!-- ÍCONES + TEMA -->
  <div class="icons">
      <a href="{% url 'cinedu:pesquisa' %}">
          <img src="{% static 'pesquisa.png' %}" alt="Pesquisar" class="icone-pesquisa">
    </a>

    <img src="{% static 'configurar.png' %}" id="btnConfig" alt="Configurações">

    <!-- BOTÃO DE TEMA (AGORA FUNCIONAL) -->
    <div class="Trocarcores">
        <img src="{% static 'SOL.png' %}" id="iconeTema" alt="Trocar tema">
    </div>
  </div>

</header>

<main>

  <!-- BANNER -->
  <section class="banner">
  <a href="{% url 'cinedu:detalhes' documentario_feature.id %}">
    <div class="overlay"></div>

    <div class="banner-text">
        <h1>{{ documentario_feature.titulo }}</h1>
    </div>
  </a>
  </section>

  <!-- CONTINUE ASSISTINDO -->
  {% for categoria, documentarios in documentarios_dicio.items %}
  <section class="secao">
      <h2>{{ categoria | capfirst }}</h2>

    <div class="carrossel-container">

      <button class="seta esquerda">
          <img src="{% static 'SETAESQUERDA.png' %}" alt="">
      </button>

      <div class="carrossel">
          {% for documentario in documentarios %}
              <a href="{% url 'cinedu:detalhes' documentario.id %}">
                  <img src="{{ documentario.thumbnail.url }}" alt="{{ documentario.titulo }}">
              </a>
          {% endfor %}
      </div>

      <button class="seta direita">
          <img src="{% static 'SETADIREITA.png' %}" alt="">
      </button>

    </div>
  </section>
  {% endfor %}

  <!-- DOCUMENTÁRIOS -->
  <!--<section class="secao">
    <h2><span>Documentários</span> internacionais</h2>

    <div class="carrossel-container">

      <button class="seta esquerda">
          <img src="{% static 'SETAESQUERDA.png' %}" alt="">
      </button>

      <div class="carrossel">
          <img src="{% static 'boi.jpg' %}">
          <img src="{% static 'boi.jpg' %}">
          <img src="{% static 'boi.jpg' %}">
          <img src="{% static 'boi.jpg' %}">
          <img src="{% static 'boi.jpg' %}">
          <img src="{% static 'boi.jpg' %}">
      </div>

      <button class="seta direita">
          <img src="{% static 'SETADIREITA.png' %}" alt="">
      </button>

    </div>
  </section>-->

</main>
<script>


// pega todos os carrosseis
const carrosseis = document.querySelectorAll(".carrossel-container");

carrosseis.forEach((container) => {
  const carrossel = container.querySelector(".carrossel");
  const btnEsquerda = container.querySelector(".esquerda");
  const btnDireita = container.querySelector(".direita");

  btnDireita.addEventListener("click", () => {
    carrossel.scrollLeft += 300;
  });

  btnEsquerda.addEventListener("click", () => {
    carrossel.scrollLeft -= 300;
  });
});
</script>
{% include 'cinedu/configuracoes.html' %}
<script src="{% static 'tema.js' %}"></script>
</body>
</html>
