{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pesquisar CINEDU</title>
    <link rel="icon" type="image/x-icon" href="{% static 'favicon.ico' %}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap" rel="stylesheet">
   <script>    
      const SOL_CAMINHO = "{% static 'SOL.png' %}";
      const SOLCORTADO_CAMINHO = "{% static 'SOLCORTADO.png' %}";
  </script>
   <link rel="stylesheet" href="{% static 'pesquisa.css' %}">
</head>
<body>
    <header>

        <!-- LOGO -->
        <div class="logo">
            <img src="{% static 'LOGO.png' %}" alt="Logo CINEDU">
        </div>

        <!-- MENU -->
        <nav>
            <a href="{% url 'cinedu:home' %}">Home</a>
            <a href="{% url 'cinedu:favoritos' %}">Favoritos</a>
        </nav>

        <!-- ÍCONES + TEMA -->
        <div class="icons">
            <img src="{% static 'pesquisa.png' %}" alt="Pesquisar">
          
            <img src="{% static 'configurar.png' %}" id="btnConfig" alt="Configurações">


            <!-- BOTÃO DE TEMA (AGORA FUNCIONAL) -->
            <div class="Trocarcores">
                <img src="{% static 'SOL.png' %}" id="iconeTema" alt="Trocar tema">
            </div>
        </div>
    </header>

   <main>

    <!-- COLUNA ESQUERDA -->
    <div class="lateral">

        <div class="pesquisa">
            <h2 class="barra">Pesquisa</h2>

            <form class="barra-pesquisa" method="post">
                {% csrf_token %}

                <input
                    type="text"
                    id="TdD"
                    name="termos_de_pesquisa"
                    placeholder="Digite o título do documentário">

                <button type="submit">
                    <img src="{% static 'Pesquisar2.png' %}"
                         alt="Pesquisar documentário"
                         class="logopesquisa">
                </button>
            </form>
        </div>

        <div class="categorias">

            <h2>Categorias</h2>

            <ul>
                {% for categoria in categorias %}
                    <li><a href="{% url 'cinedu:pesquisa_categoria' categoria.id %}">{{ categoria.nome | capfirst }}</a></li>
                {% endfor %}
                <!--<li><a href="#">Brasileirão</a></li>
                <li><a href="#">Internacionais</a></li>
                <li><a href="#">Biologia</a></li>
                <li><a href="#">Astronomia</a></li>
                <li><a href="#">Meio ambiente</a></li>
                <li><a href="#">Crimes reais</a></li>
                <li><a href="#">Biografias</a></li>
                <li><a href="#">Históricos</a></li>-->
            </ul>

        </div>

    </div>

    <!-- COLUNA DIREITA -->
    <div class="resultados">

        {% if termos is None %}
            <h3>Resultados
        {% else %}
            <h3>Resultados para termos "{{ termos }}"
        {% endif %}

        {% if categoria_atual is None %}
            </h3>
        {% else %}
        na categoria "{{ categoria_atual | capfirst }}" </h3>
        {% endif %}

        <div class="grid-resultados">

            {% for documentario in documentarios %}
                <div class="card">
                    <a href="{% url 'cinedu:detalhes' documentario.id %}">
                    <img src="{{ documentario.thumbnail.url }}" alt="{{ documentario.titulo }}">
                    </a>
                </div>
            {% endfor %}

        </div>

    </div>

</main>
{% include 'cinedu/configuracoes.html' %}
<script src="{% static 'tema.js' %}"></script>
</body>
</html>
