{% load static %}
<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ documentario.titulo }}</title>
    <link rel="icon" type="image/x-icon" href="{% static 'favicon.ico' %}">
    <link rel="stylesheet" href="https://cdn.plyr.io/3.8.3/plyr.css">
    <link rel="stylesheet" href="{% static 'player.css' %}">
</head>
<body>
<div class="player">

    <div id="player"
         data-plyr-provider="youtube"
         data-plyr-embed-id="{{ documentario.endereco_video }}"> <!-- [32:] n entendi essa slice -->
    </div>
    <div id="overlay">

        <div id="timelineContainer">

            <span id="current">00:00</span>

            <div id="timeline">

                <div id="progress"></div>

            </div>

            <span id="duration">00:00</span>

        </div>

        <div id="controls">

            <div id="centerControls">

                <button id="backBtn">
                    ⏮
                </button>

                <button id="playBtn">
                    ▶
                </button>

                <button id="nextBtn">
                    ⏭
                </button>

            </div>

            <div id="rightControls">

                <button id="muteBtn">
                    🔇
                </button>

                <button id="captionBtn">
                    CC
                </button>

                <button id="fullscreenBtn">
                    ⛶
                </button>

            </div>

        </div>

    </div>

</div>

<script src="https://cdn.plyr.io/3.8.3/plyr.polyfilled.js"></script>

<script src="{% static 'player.js' %}"></script>

</body>

</html>
