{% extends 'cinedu/base.html' %}
{% load static %}
{% block content %}
<div class="container">

     <div class="logo">
         <img src="{% static 'Atendendo.png' %}" alt="Logo CINEDU">
    </div>

    <h1>CINEDU</h1>
    <p style="color: white">Realize o seu login</p> <br>

    <form class="login-form" method="post">
      {% csrf_token %}
      <label for="nome">Nome</label>
      {{ form.username }}

      <label for="senha">Senha</label>
      {{ form.password }}
      <button type="submit" class="btn-login">Entrar</button>

      {% if form.errors %}
          <p id="erro"> Erro nas informações do login </p>
      {% endif %}

      <input type="hidden" name="next" value="{{ next }}" />

      <p class="link-cadastro">
      Não tem conta? <a href="{% url 'cinedu:cadastro' %}">Cadastrar</a>
      </p>

    </form>

</div>
{% endblock %}
